<style type="text/css">
body {
	background-color: #CCC;
	margin:80px 80px 100px 100px;
}
div#fixedheader {
	
	/* font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; */
	/* display: block;
	font-size:14px; */
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color: rgb(255, 255, 255);
	padding:20px;
	transition: all .5s ease-in-out;
	text-decoration: none;
	background:rgba(59, 90, 183, 0.88);
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	/* font-weight: 700; */
	    
}
div#fixedfooter {
	font-size:14px;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	display: block;
	font-weight: 700;
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color: rgb(255, 255, 255);
	padding:8px;
	transition: all .5s ease-in-out;
	text-decoration: none;
	text-decoration: none;    line-height: 1.5;    vertical-align: baseline;
	background:rgba(59, 90, 183, 0.88);
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
}
/* .fontstyle{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
} */
a
{
	color:#FDFDFD;
}
#errordiv{
	
	font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Ubuntu", sans-serif;
    font-weight: normal;
    clear: both;
    font-size:22px;
}
label{
	font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Ubuntu", sans-serif;
    font-weight: normal;
    clear: both;
    font-size:14px;
}
</style>